
html {text-align: center;
      font-family: helvetica;
}

.main {background-image: url(/Users/fernando/Desktop/WebProjects/Broadway/resources/img/the-flatiron-building.png);
}

.footer {font-size: 11px;
         background-color: dimgray;
         color: white
}

.others {background-color: lightgrey;
}

a, .bt-nav {color: white;
  font-size: 18px;
}

p {font-size: 14px;
}

h1 {font-size: 70px;
    font-weight: bold;
    color: white;
}

h2 {font-size: 32px;
    font-weight: bold;
}

#subtitle {color: white;
           font-size: 23px;
           font-weight: bold;
           background-image: url(/Users/fernando/Desktop/WebProjects/Broadway/resources/img/the-flatiron-building.png);
}

#mail-to, #twitter {color: black;
                    font-size: 14px;
                    font-family: helvetica;
}
